/* 只作用于文档正文中的加粗文字 */
.vp-doc strong {
    /* color: #d14; */
    background: linear-gradient(transparent 70%, #808080 30%);
    font-weight: 700;
    padding: 0 2px;
    border-radius: 2px;
}

.vp-doc h2 {
    &::first-letter {
        font-size: 1.5em;
        color: rgb(217, 47, 243);
    }
}

.vp-doc h3 {
    background: linear-gradient(to right, #ff942261 30%, transparent);
    padding: 2px 2px;
}